body {
  background-color: #f3f2ef;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  color: #0a68c2;
  text-decoration: underline;
}
.align-self-start {
  align-self: flex-start;
}

.container {
  width: 63%;
  margin: 0 auto;
}

.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.banner-image {
  position: relative;
  height: 195px;
  background: url("assets/images/header-img.png");
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
}
.banner-info {
  padding: 65px 40px 40px 40px;
}
.banner-image:after {
  width: 152px;
  height: 152px;
  border-radius: 50%;
  position: absolute;
  content: "";
  top: 110px;
  left: 50px;
  background-image: url("assets/images/avatar-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  border: 3px solid #fff;
}

.title {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 30px;
}
.title-info {
  font-weight: 600;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.9);
  font-style: normal;
  line-height: 30px;
  flex-grow: 4;
  margin-bottom: 0px;
}

.title-description {
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.9);
  font-style: normal;
  line-height: 20px;
}

.location {
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  font-style: normal;
  line-height: 18px;
  margin-right: 5px;
}
.contact-info {
  font-weight: 600;
  font-size: 14px;
  color: #004182;
  font-style: normal;
  line-height: 18px;
}
.description {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 5px;
}

.card-container {
  padding: 20px;
}
.card-title {
  font-weight: 600;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.9);
  font-style: normal;
  line-height: 25px;
  margin-top: 0;
}

.exp-length {
  margin-bottom: 10px;
}

.exp-item {
  margin-bottom: 20px;
}

.exp-container {
  position: relative;
}

.with-line::before {
  content: "";
  position: absolute;
  left: calc(-2.5rem + 3px);
  top: calc(1.5rem);
  height: calc(100% - 1.6rem);
  width: 2px;
  background-color: #ebebeb;
}

.margin-10 {
  margin: 10px 0;
}
.margin-6 {
  margin: 6px 0;
}

.exp-dot {
  position: relative;
  display: block;
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;
  background-color: rgb(178, 178, 178);
  top: calc(0.5rem);
  left: calc(-2.5rem);
  margin-bottom: calc(-0.8rem);
}

.card-content {
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.9);
  font-style: normal;
  line-height: 19px;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}
.logo {
  width: 48px;
  height: 48px;
}
.logo-mini {
  width: 24px;
  height: 24px;
}

.font-16-black {
  font-weight: 600;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.9);
  font-style: normal;
  line-height: 24px;
}
.font-14-black {
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.9);
  font-style: normal;
  line-height: 20px;
}
.font-20-black {
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.9);
  font-style: normal;
  line-height: 30px;
}

.font-14-gray {
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  font-style: normal;
  line-height: 20px;
}

.horizontal-line {
  border-top: 1px solid #e6e6e6;
  background-color: #e6e6e6;
  width: 100%;
}

.btn {
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 1.6rem;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 0 10px 0;
  background-color: #ffffff;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}
.btn:hover {
  border: 2px solid rgba(0, 0, 0, 0.6);
  background-color: #ebebeb;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 45%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: rgba(0, 0, 0, 0.6);
  float: right;
  font-size: 28px;
  /* font-weight: bold; */
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 4px 14px;
}

.modal-body {
  padding: 2px 16px;
}

.link-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
}
.link-btn:hover {
  text-decoration: underline;
}
.primary-color {
  color: #0a68c2;
}
